.menu_back {
	height: 50px;
	width: 50px;
	position: fixed;
	top: 0vh;
	left: 0vw;
	z-index: 100;
}

.suobshtenie {
	position: fixed;
	z-index: 5;
	height: 5vh;
	font-size: 5vh;
	font-weight: bold;
	color: goldenrod;
	top: 2vh;
	left: 10vw;
	text-align: center;
}